* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  background-color: red;
}
@media only screen and (min-width: 1430px) {
  .container {
    max-width: 1430px;
    background-color: pink;
  }
}