@import "../Componentes/button";

// --> Header
// --> Top header
.header {
  background-color: #263c97;
  .top-header {
    line-height: 15px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.15);
    .container {
      .row {
        align-items: center;
        .top-header-left {
          ul {
            padding: 0;
            margin: 0;
            li {
              display: inline-block;
              padding: 0 20px;
              @include text($color-text-header, $fs-sm, 400);
              a {
                @include text($color-text-header, $fs-sm, 400);
                line-height: 35px;
              }
            }
            li.item-list {
              position: relative;
              &::after {
                content: "";
                background-color: rgba(245, 245, 245, 0.15);
                position: absolute;
                left: 0;
                top: 10px;
                width: 1px;
                height: 15px;
              }
            }
            li:first-of-type {
              padding-left: 0;
            }
          }
        }
        .top-header-right {
          ul {
            text-align: right;
            padding: 0;
            margin: 0;
            list-style: none;
            line-height: 35px;
            li {
              display: inline-block;
              position: relative;
              padding: 0 15px;
              a {
                text-transform: capitalize;
                @include text($color-text-header, $fs-sm, 400);
              }
              &::after {
                content: "";
                position: absolute;
                background-color: rgba(245, 245, 245, 0.15);
                height: 15px;
                width: 1px;
                top: 10px;
                right: 0;
              }
            }
            li:last-of-type {
              padding-right: 0;
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  // Top header <--
  // --> Middle header
  .middle-header {
    .container {
      .row {
        align-items: center;
        .header-logo {
          img {
            max-width: 200px;
            width: auto;
            height: auto;
          }
        }
        .header-search {
          padding: 29px 45px 29px 15px;
          form {
            .input-group {
              background-color: #fff;
              border-radius: 3px;
              border: none;
              position: relative;
              .form-control {
                border: none;
                &:focus {
                  box-shadow: none;
                  outline: none;
                }
              }
              .btn.dropdown-toggle {
                border: none;
                height: 50px;
                min-width: 154px;
                color: $color-text-main;
                &::before {
                  content: "";
                  top: 15px;
                  bottom: 15px;
                  border-right: 1px solid #e1e1e1;
                  margin: 0 0 0 20px;
                  width: 1px;
                  position: absolute;
                  right: 0;
                }
                &:hover {
                  background-color: transparent;
                  color: $color-text-main;
                  cursor: default;
                }
              }
              .form-control {
                border-radius: 0 3px 3px 0;
              }
              .btn-search {
                position: absolute;
                right: 0;
                top: 0;
                height: 42px;
                width: 42px;
                margin: 4px;
                background-color: $color-btn;
                border: none;
                border-radius: 3px;
                transition: all 0.5s;
                i {
                  color: $color-text-btn-buy;
                  font-size: 20px;
                  line-height: 42px;
                }
                &:hover {
                  background-color: $color-btn-hover;
                }
              }
            }
          }
        }
        .header-control {
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              display: inline-block;
              padding: 0 10px;
              a {
                position: relative;
                line-height: 1;
                color: $color-text-header;
                text-transform: capitalize;
                i {
                  position: absolute;
                  left: 0;
                  font-size: 28px;
                  color: $color-text-header;
                  line-height: 1;
                }
                span {
                  padding-left: 40px;
                  display: block;
                  font-size: 13px;
                  margin-bottom: 3px;
                }
                .text-color-di {
                  color: #a3afef;
                }
                .favorite-count,
                .cart-count {
                  position: absolute;
                  background-color: $color-btn;
                  font-size: 11px;
                  color: $color-text-header;
                  font-weight: 400;
                  height: 20px;
                  width: 20px;
                  line-height: 20px;
                  border-radius: 50%;
                  text-align: center;
                  padding: 0;
                  top: -10px;
                  left: 17px;
                }
              }
            }
          }
        }
        .line {
          border-bottom: 1px solid rgba(245, 245, 245, 0.15);
        }
      }
    }
  }
  // Middle header <--
  // --> Bottom header
  .bottom-header {
    .container {
      .row {
        align-items: center;
        .header-menu {
          i {
            @include text($color-text-header, 24px, 600);
            line-height: 1;
          }
          span {
            @include text($color-text-header, $fs-df, 600);
            text-transform: uppercase;
            line-height: 2;
          }
        }
        .header-menu,
        .header-nav {
          .dropdown {
            display: inline-block;
            position: relative;
            .dropdown-toggle {
              &::after {
                position: absolute;
                top: 40%;
                right: -2px;
              }
            }
            .btn {
              background-color: transparent;
              border: none;
              display: flex;
            }
            .dropdown-menu {
            }
          }
        }
        .header-nav {
          .dropdown {
            margin-right: 15px;
            .btn {
              padding: 0 15px 0 0;
              @include text($color-text-header, $fs-df, 600);
              text-transform: uppercase;
              line-height: 2;
            }
          }
          .nav-contact,
          .nav-about {
            margin-right: 15px;
            display: inline-block;
            a {
              @include text($color-text-header, $fs-df, 600);
              text-transform: uppercase;
              line-height: 2;
            }
          }
        }
        .header-info {
          p {
            @include text($color-text-header, $fs-df, 400);
            margin: 0;
          }
        }
      }
    }
  }
  // Bottom header <--
}
//--->Content
.content {
  margin-bottom: 50px;
  .content-breadcrum {
    .container {
      .warp-breadcrum {
        padding: 25px 0;
        a {
          color: #999;
          font-size: $fs-df;
          text-transform: capitalize;
        }
        span {
          color: $color-text-main;
        }
      }
    }
  }
  .content-main {
    .container {
      .content-filter-form {
        .filter-form {
          .row {
            .number-product {
              p {
                @include text($color-text-main, 16px, 400);
              }
            }
            .control-button {
              a {
                color: #999999;
                padding: 0 10px;
                &:hover {
                  color: $color-text-hover;
                }
              }
            }
            .soft-product {
              display: flex;
              justify-content: flex-end;
              .sort-form {
                position: relative;
                .row {
                  align-items: center;
                  label {
                    position: absolute;
                    display: block;
                    @include text($color-text-main, 14px, 600);
                    line-height: 1;
                    right: 165px;
                    width: 71px;
                    padding: 0;
                  }
                  .select {
                    select {
                      option {
                        overflow: hidden;
                      }
                    }
                    width: 200px;
                  }
                }
              }
            }
          }
        }
        .content-wrapper-desktop {
          border: 1px solid #e8e8e8;
          display: flex;
          .item {
            display: inline-block;
            border-right: 1px solid #e8e8e8;
            height: 50px;
            @include text($color-text-main, $fs-df, 600);
            details {
              summary {
                padding: 0 15px;
                span {
                  line-height: 50px;
                }
              }
            }
          }
          .item:first-child {
            padding: 0 15px;
            p {
              line-height: 50px;
            }
          }
        }
        .content-product {
          .card {
            border-right: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
            margin-bottom: 0;
            padding: 20px;
            .card-content {
              transition: all .5s;
              .content-top {
                height: 300px;
                position: relative;
                //-->Image product
                .product-img {
                  background-image: url(../../image/AirPods3.jpg);
                  height: 100%;
                  background-size: cover;
                  background-position: center;
                  position: relative;
                  overflow: hidden;

                  &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(255,255,255,.2);
                    z-index: 2;
                    transition: all .5s ease;
                    transform: translateY(300px);
                  }
                }
                //Image product<--
                .product-label {
                  line-height: 10px;
                  background-color: $color-label-sale;
                  @include text(#fff, 12px, 300);
                  display: inline-block;
                  position: absolute;
                  height: 20px;
                  width: 50px;
                  padding: 5px;
                  border-radius: 2px;
                  top: 0;
                  left: 0.75rem;
                  text-align: center;
                }
              }
              //-->Bottom card product 
              .content-button {
                .product-name {
                  min-height: 32px;
                  margin-bottom: 20px;
                  a {
                    @include text($color-name-product, $fs-df, 600);
                    line-height: 16px;
                  }
                }
                .product-evaluate {
                  margin-bottom: 6px;
                  display: block;
                  i {
                    color: $color-star-product;
                    letter-spacing: 0;
                    line-height: 14px;
                  }
                }
                .current {
                  @include text($color-price-product, 16px, 600);
                  letter-spacing: 0.6px;
                  padding-right: 5px;
                }
                .compare {
                  @include text($color-compare-product, $fs-df, 400);
                  text-decoration: line-through;
                }
                .product-btn {
                  margin-top: 10px;
                }
              }
              //Bottom card product <--
              &:hover{
                .content-top {
                  height: 300px;
                  position: relative;
                  //-->Image product
                  .product-img {
                    background-image: url(../../image/AirPods3-second.jpg);
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    position: relative;
                    overflow: hidden;
                    &::before{
                      content: "";
                      transform: translateY(0);
                    }
                  }
                  //Image product<--
                  .product-label {
                    line-height: 10px;
                    background-color: $color-label-sale;
                    @include text(#fff, 12px, 300);
                    display: inline-block;
                    position: absolute;
                    height: 20px;
                    width: 50px;
                    padding: 5px;
                    border-radius: 2px;
                    top: 0;
                    left: 0.75rem;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .content-footer{
    p{
      @include text(#4f4f4f,$fs-sm,300);
      font-style: italic;
    }
  }
}
//Content<--
// --> Footer
// --> Footer Top
.footer {
  .footer-top {
    background-color: #2f3037;
    padding: 60px 0 52px;
    line-height: 1.7;
    .container {
      .row {
        .footer-title {
          @include footer-title();
        }
        .footer-social {
          ul {
            list-style: none;
            li {
              margin-right: 10px;
              display: inline-block;
              a {
                display: block;
                width: 45px;
                height: 45px;
                color: #fff;
                border-radius: 3px;
                line-height: 45px;
                text-align: center;
                font-size: 16px;
              }
              a,
              .twitter {
                background-color: #40c1df;
              }
              a,
              .fb {
                background-color: #3c5b9b;
              }
              a,
              .pin {
                background-color: #c72982;
              }
              a,
              .ins {
                background-color: #c619b8;
              }
              a,
              .yout {
                background-color: #ff0e00;
              }
            }
          }
        }
        .footer-input {
          .input-group {
            position: relative;
            max-width: 374px;
            input {
              border-radius: 3px 0 0 3px;
              border: none;
              &:focus {
                outline: none;
                box-shadow: none;
              }
            }
            .btn {
              background-color: $color-btn;
              border: none;
              color: #222;
              line-height: 45px;
              border-radius: 0 3px 3px 0;
              padding: 0 15px;
              font-weight: 600;
              cursor: pointer;
              min-width: 125px;
              font-size: 12px;
              text-transform: uppercase;
              transition: all 0.5s;
              &:hover {
                background-color: $color-btn-hover;
              }
            }
          }
        }
        .footer-app {
          ul {
            li {
              display: inline-block;
              margin: 0;
              img {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
  // Footer Top <--
  // --> Footer Main
  .footer-main {
    background-color: #1e2023;
    padding: 60px 0;
    border-bottom: 1px solid rgba(245, 245, 245, 0.15);
    .container {
      .row {
        .menu-footer {
          @include menu-footer();
          ul {
            list-style: none;
          }
        }
        .menu-footer:last-of-type {
          p {
            @include text($color-text-footer, $fs-df, 400);
          }
          .footer-phone {
            padding-left: 55px;
            margin-bottom: 10px;
            margin-top: 40px;
            position: relative;
            i {
              font-size: 50px;
              color: #fcbe00;
              position: absolute;
              left: 5px;
              top: -7px;
            }
            span {
              @include text($color-text-footer, $fs-df, 400);
              display: block;
              line-height: 25px;
              a {
                color: #fcbe00;
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
  // Footer Main <--
  // --> Footer Note
  .footer-note {
    background-color: #1e2023;
    padding: 60px 0;
    .container {
      text-align: center;
      .footer-link {
        p {
          line-height: 1;
          @include text(#4f4f4f, $fs-df, 400);
          a {
            @include text($color-text-footer, $fs-df, 400);
            margin-bottom: 13px;
            padding: 0 6px;
            transition: all 0.5s;
            &:hover {
              color: $color-text-link-hover;
            }
          }
        }
      }
      .footer-pay {
        margin-top: 17px;
      }
      .copy-right {
        margin-top: 30px;
        p {
          @include text(#4f4f4f, $fs-df, 400);
          span {
            a {
              color: #fcbe00;
            }
          }
        }
      }
    }
  }
  // Footer Note <--
}
// Footer <--
