@import "../Componentes/button";

// --> Header
// --> Top header
.header {
  background-color: #263c97;
  .top-header {
    line-height: 15px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.15);
    .container {
      .row {
        align-items: center;
        .top-header-left {
          ul {
            padding: 0;
            margin: 0;
            li {
              display: inline-block;
              padding: 0 20px;
              @include text($color-text-header, $fs-sm, 400);
              a {
                @include text($color-text-header, $fs-sm, 400);
                line-height: 35px;
              }
            }
            li.item-list {
              position: relative;
              &::after {
                content: "";
                background-color: rgba(245, 245, 245, 0.15);
                position: absolute;
                left: 0;
                top: 10px;
                width: 1px;
                height: 15px;
              }
            }
            li:first-of-type {
              padding-left: 0;
            }
          }
        }
        .top-header-right {
          ul {
            text-align: right;
            padding: 0;
            margin: 0;
            list-style: none;
            line-height: 35px;
            li {
              display: inline-block;
              position: relative;
              padding: 0 15px;
              a {
                text-transform: capitalize;
                @include text($color-text-header, $fs-sm, 400);
              }
              &::after {
                content: "";
                position: absolute;
                background-color: rgba(245, 245, 245, 0.15);
                height: 15px;
                width: 1px;
                top: 10px;
                right: 0;
              }
            }
            li:last-of-type {
              padding-right: 0;
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .middle-header {
    .container {
      .row {
        align-items: center;
        .header-logo {
          img {
            max-width: 200px;
            width: auto;
            height: auto;
          }
        }
        .header-search {
          padding: 29px 45px 29px 15px;
          form {
            .input-group {
              background-color: #fff;
              border-radius: 3px;
              border: none;
              position: relative;
              .form-control{
                border: none;
                &:focus{
                  box-shadow: none;
                  outline: none;
                }
              }
              .btn.dropdown-toggle {
                border: none;
                height: 50px;
                min-width: 154px;
                color: $color-text-main;
                &::before{
                  content: "";
                  top: 15px;
                  bottom: 15px;
                  border-right: 1px solid #e1e1e1;
                  margin: 0 0 0 20px;
                  width: 1px;
                  position: absolute;
                  right: 0;
                }
                &:hover {
                  background-color: transparent;
                  color: $color-text-main;
                  cursor: default;
                }
              }
              .form-control {
                border-radius: 0 3px 3px 0;
              }
              .btn-search {
                position: absolute;
                right: 0;
                top: 0;
                height: 42px;
                width: 42px;
                margin: 4px;
                background-color: $color-btn;
                border: none;
                border-radius: 3px;
                i {
                  color: $color-text-btn-buy;
                  font-size: 20px;
                  line-height: 42px;
                }
                &:hover {
                  background-color: $color-btn-hover;
                }
              }
            }
          }
        }
        .header-control {
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              display: inline-block;
              padding: 0 10px;
              a {
                position: relative;
                line-height: 1;
                color: $color-text-header;
                text-transform: capitalize;
                i {
                  position: absolute;
                  left: 0;
                  font-size: 28px;
                  color: $color-text-header;
                  line-height: 1;
                }
                span {
                  padding-left: 40px;
                  display: block;
                  font-size: 13px;
                  margin-bottom: 3px;
                }
                .text-color-di {
                  color: #a3afef;
                }
                .favorite-count,
                .cart-count {
                  position: absolute;
                  background-color: $color-btn;
                  font-size: 11px;
                  color: $color-text-header;
                  font-weight: 400;
                  height: 20px;
                  width: 20px;
                  line-height: 20px;
                  border-radius: 50%;
                  text-align: center;
                  padding: 0;
                  top: -10px;
                  left: 17px;
                }
              }
            }
          }
        }
        .line {
          border-bottom: 1px solid rgba(245, 245, 245, 0.15);
        }
      }
    }
  }
  .bottom-header {
    .container {
      .row {
        align-items: center;
        .header-menu {
          i {
            @include text($color-text-header, 24px, 600);
            line-height: 1;
          }
          span {
            @include text($color-text-header, $fs-df, 600);
            text-transform: uppercase;
            line-height: 2;
          }
        }
        .header-menu,
        .header-nav {
          .dropdown {
            display: inline-block;
            position: relative;
            .dropdown-toggle {
              &::after {
                position: absolute;
                top: 40%;
                right: -2px;
              }
            }
            .btn {
              background-color: transparent;
              border: none;
              display: flex;
            }
            .dropdown-menu {
            }
          }
        }
        .header-nav {
          .dropdown {
            margin-right: 15px;
            .btn {
              padding: 0 15px 0 0;
              @include text($color-text-header, $fs-df, 600);
              text-transform: uppercase;
              line-height: 2;
            }
          }
          .nav-contact,
          .nav-about {
            margin-right: 15px;
            display: inline-block;
            a {
              @include text($color-text-header, $fs-df, 600);
              text-transform: uppercase;
              line-height: 2;
            }
          }
        }
        .header-info {
          p {
            @include text($color-text-header, $fs-df, 400);
            margin: 0;
          }
        }
      }
    }
  }
}

.footer {
  .footer-top {
    background-color: #2f3037;
    padding: 60px 0 52px;
    .container {
      .row {
        .footer-title {
          @include footer-title();
        }
        .footer-social{
          ul {
            list-style: none;
            li {
              margin-right: 10px;
              display: inline-block;
              a {
                display: block;
                width: 45px;
                height: 45px;
                color: #fff;
                border-radius: 3px;
                line-height: 45px;
                text-align: center;
                font-size: 16px;
              }
              a,
              .twitter {
                background-color: #40c1df;
              }
              a,
              .fb {
                background-color: #3c5b9b;
              }
              a,
              .pin {
                background-color: #c72982;
              }
              a,
              .ins {
                background-color: #c619b8;
              }
              a,
              .yout {
                background-color: #ff0e00;
              }
            }
          }
        }
        .footer-input {
          .input-group{
            position: relative;
            input{
              border-radius: 3px 0 0 3px;
              border: none;
              &:focus{
                outline: none;
                box-shadow: none;
              }
            }
            .btn{
              background-color: $color-btn;
              border: none;
              color: #222;
              line-height: 45px;
              border-radius: 0 3px 3px 0;
              padding: 0 15px;
              font-weight: 600;
              cursor: pointer;
              min-width: 125px;
              font-size: 12px;
              text-transform: uppercase;
              &:hover {
                background-color: $color-btn-hover;
              }
              }
            }
          }
        .footer-app {
          ul {
            li {
              display: inline-block;
              margin: 0;
              img {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .footer-main {
    .container {
    }
  }
  .footer-note {
    .container {
    }
  }
}
