@import "./variables";


@mixin text($co:$color-main,$fs:$fs-df,$fw:300){
    color: $co;
    font-size: $fs;
    font-weight: $fw;
}

@mixin text-btn($co:$color-main,$fs:$fs-df,$fw:400){
    color: $co;
    font-size: $fs;
    font-weight: $fw;
};

@mixin footer-title(){
    .title{
    color: $color-text-footer-title;
    font-size: $fs-title;
    font-weight: 600;
    margin-bottom: 10px;
    }
    p{
        color: $color-text-footer;
        font-size: $fs-df;
        margin-bottom: 13px
    }
};

@mixin btn($pd:0,$ra,$bg,$co,$fs,$fw){
    @include text-btn($co,$fs,$fw);
    padding: $pd;
    border-radius: $ra;
    background: $bg;
};