// --> Color text
// --> Color text follow class of page
$color-text-main:#222222;
$color-text-header: #fff;
$color-text-body:#222222;
$color-text-footer-title:#fff;
$color-text-footer:#999999;
// Color text follow class of page <-- 
$color-text-link:#fff;
$color-text-link-hover:#fcbe00;
$color-name-product:#0068c9;
$color-text-btn-buy: #222;
$color-text-btn-info: #888;
$color-text-hover:#fcb200;

$color-star-product:#ffa200;
$color-price-product:#cc1414;
$color-compare-product: #A4a4a4;
$color-label-sale:#5aab19;
$color-label-hot:#cc1414;
// --> Color Button
$color-btn-text-hover: #fff;
$color-btn: #fcbe00;
$color-btn-hover: #fcb200;

// --> Font size
$fs-df:14px;
$fs-sm: 13px;
$fs-title: 18px;


